@font-face {
	font-family: "Inter";
	font-style: normal;
	font-weight: 400;
	src: local(""),
		url("/static/fonts/inter-v3-latin-regular.woff2") format("woff2"),
		/* Chrome 26+, Opera 23+, Firefox 39+ */
			url("/static/fonts/inter-v3-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
	font-family: "Inter";
	font-style: normal;
	font-weight: 600;
	src: local(""),
		url("/static/fonts/inter-v3-latin-600.woff2") format("woff2"),
		/* Chrome 26+, Opera 23+, Firefox 39+ */
			url("/static/fonts/inter-v3-latin-600.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
	font-family: "Inter";
	font-style: normal;
	font-weight: 700;
	src: local(""),
		url("/static/fonts/inter-v3-latin-700.woff2") format("woff2"),
		/* Chrome 26+, Opera 23+, Firefox 39+ */
			url("/static/fonts/inter-v3-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@import "/static/katex.min.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

.task-list-item::before {
	@apply hidden;
}

.task-list-item {
	@apply list-none;
}

html {
	scroll-behavior: smooth;
}

/* https://stackoverflow.com/questions/61083813/how-to-avoid-internal-autofill-selected-style-to-be-applied */
input:-webkit-autofill,
input:-webkit-autofill:focus {
	transition: background-color 600000s 0s, color 600000s 0s;
}
